<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Servlet_list_Especialidade</servlet-name>
        <servlet-class>servlet_Especialidade.Servlet_list_Especialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Inserir_triagem</servlet-name>
        <servlet-class>servlet_triagem.ServletController_Inserir_triagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Consulta_Triagem</servlet-name>
        <servlet-class>servlet_triagem.ServerletController_Consulta_Triagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_aletera_triagem1</servlet-name>
        <servlet-class>servlet_triagem.ServletController_aletera_triagem1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_Triagem</servlet-name>
        <servlet-class>servlet_triagem.ServerletController_Deleta_Triagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_insert_registroClinico</servlet-name>
        <servlet-class>servlet_registroClinico.ServletController_insert_registroClinico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Consulta_RegistroClinico</servlet-name>
        <servlet-class>servlet_registroClinico.ServerletController_Consulta_RegistroClinico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_aletera_registroClinico</servlet-name>
        <servlet-class>servlet_registroClinico.ServletController_aletera_registroClinico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_registroClinico</servlet-name>
        <servlet-class>servlet_triagem.ServerletController_Deleta_registroClinico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaEspecialista</servlet-name>
        <servlet-class>servlet_especialista.ServletListaEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_Listar_Paciente</servlet-name>
        <servlet-class>Servlet_Paciente.servlet_Listar_Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAbre_preAtendimentoGET</servlet-name>
        <servlet-class>servlet_Pre_Atendimento.ServletAbre_preAtendimentoGET</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Lista_preAtendimento</servlet-name>
        <servlet-class>servlet_Pre_Atendimento.Servlet_Lista_preAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Autera_paciente2</servlet-name>
        <servlet-class>Servlet_Paciente.Servlet_Autera_paciente2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaPacServlet</servlet-name>
        <servlet-class>Servlet_Paciente.DeletaPacServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListar_RegistroClinio</servlet-name>
        <servlet-class>servlet_registroClinico.ServletListar_RegistroClinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_insere_registro_clinico</servlet-name>
        <servlet-class>servlet_registroClinico.Servlet_insere_registro_clinico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_insere</servlet-name>
        <servlet-class>servlet_registroClinico.Servlet_insere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConvenio_lista</servlet-name>
        <servlet-class>servlet_convenio.ServletConvenio_lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_paciente_insert</servlet-name>
        <servlet-class>Servlet_Paciente.Servlet_paciente_insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletController_insert_registroClinico</servlet-name>
        <url-pattern>/ServletController_insert_registroClinico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Consulta_RegistroClinico</servlet-name>
        <url-pattern>/ServerletController_Consulta_RegistroClinico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_aletera_registroClinico</servlet-name>
        <url-pattern>/ServletController_aletera_registroClinico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_registroClinico</servlet-name>
        <url-pattern>/ServerletController_Deleta_registroClinico</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletController_Inseri_pre_atendimento</servlet-name>
        <servlet-class>servlet_Pre_Atendimento.ServletController_Inseri_pre_atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Consulta_pre_atendimento</servlet-name>
        <servlet-class>servlet_Pre_Atendimento.ServletController_Consulta_pre_atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Altera_pre_atendimento</servlet-name>
        <servlet-class>servlet_Pre_Atendimento.ServletController_Altera_pre_atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_pre_atendimento</servlet-name>
        <servlet-class>servlet_Pre_Atendimento.ServerletController_Deleta_pre_atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Inserir_Especialista</servlet-name>
        <servlet-class>servlet_especialista.ServletController_Inserir_Especialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Consulta_Especialista</servlet-name>
        <servlet-class>servlet_especialista.ServletController_Consulta_Especialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Altera_Especialista</servlet-name>
        <servlet-class>servlet_especialista.ServletController_Altera_Especialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_Especialista</servlet-name>
        <servlet-class>servlet_especialista.ServerletController_Deleta_Especialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Inserir_Especialida</servlet-name>
        <servlet-class>servlet_Especialidade.ServletController_Inserir_Especialida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Consulta_Especialidade</servlet-name>
        <servlet-class>servlet_Especialidade.ServletController_Consulta_Especialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Altera_Especialidade</servlet-name>
        <servlet-class>servlet_Especialidade.ServletController_Altera_Especialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_Especialidade</servlet-name>
        <servlet-class>servlet_Especialidade.ServerletController_Deleta_Especialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Inserir_Paciente</servlet-name>
        <servlet-class>classes.Servlet_Paciente.ServletController_Inserir_Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Consulta_Paciente</servlet-name>
        <servlet-class>Servlet_Paciente.ServletController_Consulta_Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Altera_Paciente</servlet-name>
        <servlet-class>classes.Servlet_Paciente.ServletController_Altera_Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_Paciente</servlet-name>
        <servlet-class>classes.Servlet_Paciente.ServerletController_Deleta_Paciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Inserir_Convenio</servlet-name>
        <servlet-class>servlet_convenio.ServletController_Inserir_Convenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Consulta_Convenio</servlet-name>
        <servlet-class>servlet_convenio.ServletController_Consulta_Convenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletController_Altera_Convenio</servlet-name>
        <servlet-class>servlet_convenio.ServletController_Altera_Convenio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerletController_Deleta_convenio</servlet-name>
        <servlet-class>servlet_convenio.ServerletController_Deleta_convenio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletController_Inserir_Convenio</servlet-name>
        <url-pattern>/ServletController_Inserir_Convenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Consulta_Convenio</servlet-name>
        <url-pattern>/ServletController_Consulta_Convenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Altera_Convenio</servlet-name>
        <url-pattern>/ServletController_Altera_Convenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_convenio</servlet-name>
        <url-pattern>/ServerletController_Deleta_convenio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Inserir_Paciente</servlet-name>
        <url-pattern>/ServletController_Inserir_Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Consulta_Paciente</servlet-name>
        <url-pattern>/ServletController_Consulta_Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Altera_Paciente</servlet-name>
        <url-pattern>/ServletController_Altera_Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_Paciente</servlet-name>
        <url-pattern>/ServerletController_Deleta_Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Inserir_Especialida</servlet-name>
        <url-pattern>/ServletController_Inserir_Especialida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Consulta_Especialidade</servlet-name>
        <url-pattern>/ServletController_Consulta_Especialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Altera_Especialidade</servlet-name>
        <url-pattern>/ServletController_Altera_Especialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_Especialidade</servlet-name>
        <url-pattern>/ServerletController_Deleta_Especialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Inserir_Especialista</servlet-name>
        <url-pattern>/ServletController_Inserir_Especialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Consulta_Especialista</servlet-name>
        <url-pattern>/ServletController_Consulta_Especialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Altera_Especialista</servlet-name>
        <url-pattern>/ServletController_Altera_Especialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_Especialista</servlet-name>
        <url-pattern>/ServerletController_Deleta_Especialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_list_Especialidade</servlet-name>
        <url-pattern>/Servlet_list_Especialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Inseri_pre_atendimento</servlet-name>
        <url-pattern>/ServletController_Inseri_pre_atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Consulta_pre_atendimento</servlet-name>
        <url-pattern>/ServletController_Consulta_pre_atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Altera_pre_atendimento</servlet-name>
        <url-pattern>/ServletController_Altera_pre_atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_pre_atendimento</servlet-name>
        <url-pattern>/ServerletController_Deleta_pre_atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_Inserir_triagem</servlet-name>
        <url-pattern>/ServletController_Inserir_triagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Consulta_Triagem</servlet-name>
        <url-pattern>/ServerletController_Consulta_Triagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletController_aletera_triagem1</servlet-name>
        <url-pattern>/ServletController_aletera_triagem1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerletController_Deleta_Triagem</servlet-name>
        <url-pattern>/ServerletController_Deleta_Triagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaEspecialista</servlet-name>
        <url-pattern>/ServletListaEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_Listar_Paciente</servlet-name>
        <url-pattern>/servlet_Listar_Paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAbre_preAtendimentoGET</servlet-name>
        <url-pattern>/ServletAbre_preAtendimentoGET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Lista_preAtendimento</servlet-name>
        <url-pattern>/Servlet_Lista_preAtendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Autera_paciente2</servlet-name>
        <url-pattern>/Servlet_Autera_paciente2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaPacServlet</servlet-name>
        <url-pattern>/DeletaPacServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListar_RegistroClinio</servlet-name>
        <url-pattern>/ServletListar_RegistroClinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_insere_registro_clinico</servlet-name>
        <url-pattern>/Servlet_insere_registro_clinico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_insere</servlet-name>
        <url-pattern>/Servlet_insere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConvenio_lista</servlet-name>
        <url-pattern>/ServletConvenio_lista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_paciente_insert</servlet-name>
        <url-pattern>/Servlet_paciente_insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
